{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('ferus_admin') }}">Administration</a></li>
    <li><a href="{{ path('ferus_admin_user') }}">Gestion des utilisateurs</a></li>
    <li class="active">Supprimer</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Supprimer l'utilisateur {{ user.username }}</h2>
            <hr/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                    </p>
                    <form action="" method="POST">
                        <a class="btn btn-default" href="{{ path('ferus_admin_user') }}">
                            <i class="fa fa-arrow-left"></i> Retour
                        </a>
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i> Oui, supprimer le sa mère !
                        </button>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}