{% extends '::admin.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste des produits</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-bitbucket" style="margin-bottom: 20px;"></i> Liste des produits</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Quantité</th>
                    <th>Actions</th>
                </tr>
                {% for product in listProducts %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" data-remove-href="{{ path('ferus_product_remove', {id:product.id}) }}">
                                <i class="fa fa-times"></i> Supprimer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('[data-remove-href]').click(function(e) {
                e.preventDefault();

                if(confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')) {
                    var $this = $(this);
                    var href = $this.data('remove-href');
                    var tr = $this.parents('tr');

                    $.get(href);
                    tr.animate({'opacity' : 0}, 500, function() {
                        tr.remove();
                    });
                }
            })
        })
    </script>
{% endblock %}