<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Application Réserve{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}
            {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">#}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('cdn/bootstrap.min.css') }}"/>
            {% stylesheets
            'less/layout.less'
            'less/form.less'
            'less/responsive.less'
            filter='cssrewrite'
            output='css/main.css'
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
    </head>
    <body style="padding-bottom: 20px;;">
    {% block navbar %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% include '::nav.html.twig' %}
        {% endif %}
    {% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
            <footer class="text-center" style="margin-top: 10px;">Copyright @ Antoine Gaillot</footer>
        </div>
        {% block javascripts %}
            {#<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>#}
            {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>#}
            <script type="text/javascript" src="{{ asset('cdn/jquery-1.11.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('cdn/bootstrap.min.js') }}"></script>
            {% javascripts
            'js/change.js'
            output='js/script.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
