<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            {% stylesheets
            'less/layout.less'
            'less/form.less'
            filter='cssrewrite'
            output='css/main.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="side-menu">
        <div class="drop"></div>
        <ul>
            <li>
                <a href="{{ path('ferus_products') }}">
                    Produits
                </a>
            </li>
            <li>
                <a href="{{ path('ferus_categories') }}">
                    Catégories
                </a>
            </li>
            <li>
                <a href="{{ path('ferus_places') }}">
                    Lieux
                </a>
            </li>
        </ul>
    </div>
        <div class="toolbar">
            {% block toolbar %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
            {% javascripts
            'js/remove.js'
            'js/form.js'
            'js/side-menu.js'
            output='js/script.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
