{% extends'::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('ferus_previs') }}">Prévis</a></li>
    <li class="active">Supprimer un prévis</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2><i class="fa fa-remove"></i> Supprimer un prévis</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-10 col-xs-12">
            <p><i class="fa fa-exclamation-triangle"></i> Êtes-vous sûr de bien vouloir supprimer le prévis <em>{{ previs.name }}</em> ?</p>

            <form action="" method="POST">
                <a href="{{ path('ferus_previs_show', {'id': previs.id}) }}" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> Retour au previs
                </a>
                <button class="btn btn-danger" type="submit">
                    <i class="fa fa-trash"></i>
                    Supprimer
                </button>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}