{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><i class="fa fa-chain-broken"></i> Catégories</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">{{ flash }}</div>
                {% endfor %}
            {% endfor %}
            <div class="clearfix"></div>
            <div class="panel panel-warning" style="margin-top: 10px;">
                <div class="panel-heading">
                    Liste des catégories
                </div>
                <div class="panel-body">
                    Ci-dessous la liste des différentes catégories existantes. <br/><br/>
                    <i class="fa fa-exclamation-triangle"></i> Supprimer une catégorie aura pour conséquences de :
                    <ol>
                        <li>Supprimer <strong><u>tous</u></strong> les produits appartenant à cette catégorie.</li>
                        <li>Supprimer également  <strong><u>les produits concernés</u></strong> de tous les prévis.</li>
                    </ol>
                    Faîtes bien attention avant de supprimer une catégorie, cette action est irréversible <i class="fa fa-exclamation"></i>
                </div>
                <table class="table">
                    <tr class="warning">
                        <th>#</th>
                        <th>Nom</th>
                        <th class="text-center">Nombre de produits</th>
                        <th>Actions</th>
                    </tr>
                    {% for category in listCategories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td class="text-center">{{ category.products|length }}</td>
                            <td>
                                <a class="btn btn-warning btn-xs"
                                   href="{{ path('ferus_category_edit', {id:category.id}) }}">
                                    <i class="fa fa-edit"></i> <span class="hidden-xs">Modifier</span>
                                   </a>
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('ferus_category_remove', {id:category.id}) }}">
                                    <i class="fa fa-remove"></i> <span class="hidden-xs">Supprimer</span>
                                   </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Il n'existe aucune catégorie.</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-right" colspan="4">
                            <form class="search-form form-inline" action="{{ path('ferus_category_new') }}" method="get">
                                <div class="form-group pull-right">
                                    <label for="new_category">Ajouter une catégorie : </label>
                                    <input class="form-control" type="text" placeholder="Nouvelle catégorie" name="name" id="new_category">
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}