{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" href="{{ path('ferus_categories') }}">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right" data-toggle="remove">
        Edit
    </a>
    {{ category }}
{% endblock %}

{% block body %}
    <form class="search-form" action="{{ path('ferus_products_new') }}" method="get">
        <input type="hidden" name="category_id" value="{{ category.id }}">
        <input type="text" placeholder="Nouveau produit" name="name">
    </form>
    <ul>
        {% for product in products %}
            <li data-remove="lol">
                <a href="{{ path("ferus_products_show", {id:product.id}) }}">
                    {{ product }}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}