{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" href="{{ path('ferus_places') }}">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right" data-toggle="remove">
        Editer
    </a>
    {{ place }}
{% endblock %}

{% block body %}
    <h2>Stock</h2>
    <ul>
        {% for stock in stocks %}
            <li>
                <a href="{{ path('ferus_products_show', {id:stock.product.id}) }}">
                    {{ stock.product }}
                    <span class="label">{{ stock }}</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}