{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" href="{{ path('ferus_places') }}">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right" data-toggle="remove">
        Editer
    </a>
    {{ place }}
{% endblock %}

{% block body %}
    <ul style="margin: 0">
        {% set category = "" %}
        {% for stock in stocks %}
            {% if category != stock.product.category %}
                {% set category = stock.product.category %}
                <li class="separator">
                    {{ category }}
                </li>
            {% endif %}
            <li>
                <a href="{{ path('ferus_products_show', {id:stock.product.id}) }}">
                    {{ stock.product }}
                    <span class="label">{{ stock }}</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('ferus_stock_add', {place:place.id}) }}">Ajouter une quantité</a>
{% endblock %}