{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('ferus_event') }}">Soirées</a></li>
	<li class="active">Liste des bars</li>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>
				<i class="fa fa-drupal"></i> {{ event.name }}
				<small><em>Liste des bars</em></small>
			</h1>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if event.bars is empty %}
				<a class="btn btn-default btn-xs" href="{{ path('ferus_event') }}" style="margin-bottom: 20px;">
					<i class="fa fa-arrow-left"></i> Retour aux soirées
				</a>
				<span class="center-block">Vous n'avez ajouté aucun bar.
					<a class="btn btn-success btn-xs" href="{{ path('ferus_event_edit', { id:event.id }) }}">
						<i class="fa fa-plus"></i> Ajouter des bars okalm
					</a>
				</span>
			{% else %}
				<a class="btn btn-default btn-xs" href="{{ path('ferus_event') }}" style="margin-bottom: 20px;">
					<i class="fa fa-arrow-left"></i> Retour aux soirées
				</a>
				<div id="tabs">
					<ul>
						{% for bar in event.bars %}
							<li><a href="#bar-{{ loop.index }}"><span>{{ bar.name }}</span></a></li>
						{% endfor %}
					</ul>
					{% for bar in event.bars %}
						<div id="bar-{{ loop.index }}">
							<table class="table table-bordered">
								<tr>
									<th>Produit</th>
									<th>Prévis</th>
									<th>Sortie</th>
									<th>1er tranche</th>
									<th>2ème tranche</th>
									<th>3ème tranche</th>
									<th>Rentrée</th>
								</tr>
								{% for previs_product in previs.previsProducts %}
									<tr>
										<td>{{ previs_product.product.name }}</td>
										<td>{{ previs_product.quantity }}</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								{% else %}
									<tr>
										<td class="text-center" colspan="7">Le prévis de cette soirée est vide.</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#tabs').tabs();
		});
	</script>
{% endblock %}