{% extends'::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('ferus_event') }}">Soirées</a></li>
    <li class="active">Supprimer</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2><i class="fa fa-remove"></i> Supprimer un événement</h2>
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <p><i class="fa fa-exclamation-triangle"></i> Êtes-vous sûr de vouloir supprimer la soirée <em>{{ event.name }}</em> ?</p>

            <form action="{{ path('ferus_event_remove', {'id': event.id}) }}" method="POST">
                <a href="{{ path('ferus_event') }}" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> Retour aux soirées
                </a>
                <button class="btn btn-danger" type="submit">
                    <i class="fa fa-trash"></i> Supprimer
                </button>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}