{% extends '::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Réserve</li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1><i class="fa fa-bitbucket"></i> Réserve</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3 pull-right">
            <a class="btn btn-success pull-right add_product" href="{{ path('ferus_product_new') }}">
                <i class="fa fa-plus"></i> <span class="hidden-xs">Ajouter</span>
            </a>
        </div>
        <div class="col-md-3 col-sm-5 col-xs-8">
            <form action="" method="GET" role="form">
                <div class="form-group">
                    <label class="sr-only" for="product_name">Rechercher un produit</label>
	                <div class="input-group">
		                <span class="input-group-addon" id="search-addon"><i class="fa fa-search"></i></span>
		                <input type="text" class="form-control" placeholder="Recherche" aria-describedby="search-addon" id="product_name" name="search" value="{{ search|default(null) }}"/>
	                </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 hidden-xs">
            <form action="" method="GET" role="form">
                <div class="form-group">
                    <label class="sr-only" for="product_category">Trier par catégorie</label>
                    <select class="form-control" name="category" id="product_category">
                        <option value="0">Toutes les catégories</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}"{% if category.id == selectedCategory %} selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 products">
	        {% include is_mobile() ? 'FerusProductBundle:Product:mobile.html.twig' : 'FerusProductBundle:Product:full.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#product_category').change(function() {
                var $this = $(this);
                var form = $this.parents('form');

                form.submit();
            })
        })
    </script>
{% endblock %}

