{% extends '::base.html.twig' %}

{% block toolbar %}
    <a class="left" href="{{ path('ferus_categories_show', {id:product.category.id}) }}">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="right" href="{{ path('ferus_products_edit', {id:product.id}) }}">
        Editer
    </a>
    {{ product }}
{% endblock %}

{% block body %}
    <h2>Infos</h2>
    <ul>
        <li>
            {{ product.price|number_format(2, ',', ' ') }} € / {{ product.unit }} (HT)
        </li>
        <li>
            {{ (product.price * (1 + product.taxes / 100))|number_format(2, ',', ' ') }} € / {{ product.unit }} (TTC)
        </li>
    </ul>

    <h2>Stock</h2>
    <ul>
        {% for stock in stocks %}
            <li>
                <a href="{{ path('ferus_places_show', {id:stock.place.id}) }}">
                    {{ stock.place }}
                    <span class="label">{{ stock }}</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('ferus_stock_add', {product:product.id}) }}">Ajouter une quantité</a>
{% endblock %}